<h2><%=@attraction.name%></h2>

<li><%=@attraction.tickets%></li>
<li><%=@attraction.nausea_rating%></li>
<li><%=@attraction.happiness_rating%></li>
<li><%=@attraction.min_height%></li>

<%= form_for :user, url: user_path(current_user), method: :patch do |f| %>
  <input type="hidden" name="attraction_id" value=<%=@attraction.id%>>
  <%= f.submit "Go on this ride" %>
<% end %>
